@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Style+Script&display=swap');


body{
    background-image: url("../images/hatter.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto Condensed',sans-serif !important;
}

.navbar{
    flex-wrap: nowrap !important;
}

.container-fluid{
    padding: 0 !important;
}

.brandname{
    font-family: 'Style Script',cursive;
    font-size: 18pt;
    margin-left: 25px;
    color:#242424;
}

.shadow{
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}

.profil{
    margin:0 10px;
}

.urlap{
    border-radius: 30px;
    background-color: #fff;
}

.posting form input{
    width:100%;
    outline: none;
    border:none;
    padding: 10px;
    background-color: transparent;
}

.posting form button{
    outline: none;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    font-size: x-large;
}

.b-kep{
    height: 400px;
    object-fit:cover;
}

.hozzaszolas{
    border-radius: 10px;
    border:solid thin #ababab;
}

.hozzaszolas input, .hozzaszolas button{
    outline: none;
    border:none;
    background:none;
}

