<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/form.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg  fixed-top" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Főoldal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<br />
<br />
<br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="row">
            <div th:if="${param.success}">
                <div class="alert alert-info">Sikeres regisztráció!</div>
            </div>
            <div class="card-header">
                <h2 class="text-center">Regisztráció</h2>
            </div>
            <div class="card-body">
                <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                    <div class="form-group mb-3">
                        <label class="form-label">Vezetéknév</label>
                        <label for="firstName"></label>
                        <input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Vezetéknevét írja ide"
                               th:field="*{firstName}"
                               type="text"
                        />
                        <p th:errors="*{firstName}" class="text-danger"
                           th:if="${#fields.hasErrors('firstName')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Keresztnév</label>
                        <label for="lastName"></label>
                        <input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Keresztnevét írja ide"
                               th:field="*{lastName}"
                               type="text"
                        />
                        <p th:errors="*{lastName}" class="text-danger"
                           th:if="${#fields.hasErrors('lastName')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Felhasználónév</label>
                        <label for="username"></label>
                        <input class="form-control"
                               id="username"
                               name="username"
                               placeholder="Felhasználónevét írja ide"
                               th:field="*{username}"
                               type="text"
                        />
                        <p th:errors="*{username}" class="text-danger"
                           th:if="${#fields.hasErrors('username')}">
                        </p>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">E-mail cím</label>
                        <label for="email"></label>
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="E-mail címét írja ide"
                               th:field="*{email}"
                               type="email"
                        />
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Jelszó</label>
                        <label for="password"></label>
                        <input class="form-control"
                               id="password"
                               name="password"
                               placeholder="Jelszavát írja ide!"
                               th:field="*{password}"
                               type="password"
                        />
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Születési év</label>
                        <label for="yearOfBirth"></label>
                        <input class="form-control"
                               id="yearOfBirth"
                               name="yearOfBirth"
                               placeholder="Születési évét írja ide"
                               th:field="*{yearOfBirth}"
                               type="number"
                        />
                        <p th:errors="*{yearOfBirth}" class="text-danger"
                           th:if="${#fields.hasErrors('yearOfBirth')}">
                        </p>
                    </div>


                    <div class="form-group mb-3">
                        <label class="form-label">Lakhely</label>
                        <label for="location"></label>
                        <input class="form-control"
                               id="location"
                               name="location"
                               placeholder="Lakhelyéneke nevét írja ide"
                               th:field="*{location}"
                               type="text"
                        />
                        <p th:errors="*{location}" class="text-danger"
                           th:if="${#fields.hasErrors('location')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Utca neve</label>
                        <label for="street"></label>
                        <input class="form-control"
                               id="street"
                               name="street"
                               placeholder="Utcája nevét írja ide"
                               th:field="*{street}"
                               type="text"
                        />
                        <p th:errors="*{street}" class="text-danger"
                           th:if="${#fields.hasErrors('street')}">
                        </p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Házszám</label>
                        <label for="house_number"></label>
                        <input class="form-control"
                               id="house_number"
                               name="house_number"
                               placeholder="Házának számát írja ide"
                               th:field="*{house_number}"
                               type="number"
                        />
                        <p th:errors="*{house_number}" class="text-danger"
                           th:if="${#fields.hasErrors('house_number')}">
                        </p>
                    </div>


                    <div class="form-group mb-3">
                        <button class="btn btn-primary" type="submit">Regisztrál</button>
                        <span>Regisztráltál már? <a href="/" th:href="@{/login}">Lépj be itt!</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>